
/* Your CSS Code here. */
#btn{
background-color: black;
color: white;
border-radius: 5px;
border:none;
}
#btn:hover{
    /* yellow as background & black as font color with 30px as border radius. */
background-color: yellow;
color: black;
border-radius: 30px;
/* transition: 0.7s; */
}
